from PyBuildTool.utils import rules

build_config = {}



group_concat_main_css = {
    'name': 'group_main_css',
    'options': {'_source_sandboxed_': False},
}

concat_main_css = rules.Concat(
    rules = build_config,
    group = group_concat_main_css,
    file_in = [
        'src/css/heading.css',
        'src/css/default.css',
    ],
    file_out = 'css/style.css',
)



group_jshint_main_js = {'name': 'group_main_js'}

jshint_main_js = rules.Jshint(
    rules = build_config,
    group = group_jshint_main_js,
    file_in = 'src/javascript/default.js',
    token_out = 'jslin:js_default',
)



group_concat_main_js = {
    'name': 'group_main_js',
    'options': {'_source_sandboxed_': False},
}

concat_main_js = rules.Concat(
    rules = build_config,
    group = group_concat_main_js,
    file_in = [
        'node_modules/underscore/underscore.js',
        'src/javascript/default.js',
    ],
    token_in = jshint_main_js.tokens,
    file_out = 'javascript/script.js',
)



group_copy_main_css = {
    'name': 'group_main_css',
    'options': {'_target_sandboxed_':False},
}

copy_main_css = rules.Copy(
    rules = build_config,
    group = group_copy_main_css,
    file_in = concat_main_css.files,
    file_out = 'htdocs/css/',
)



group_copy_main_js = {
    'name': 'group_main_js',
    'options': {'_target_sandboxed_':False},
}

copy_main_js = rules.Copy(
    rules = build_config,
    group = group_copy_main_js,
    file_in = concat_main_js.files,
    file_out = 'htdocs/js/',
)



#import yaml
#with open('rules.yml', 'w') as f:
#    f.write(yaml.safe_dump(build_config))
