from os import path
from yaml import safe_load as yaml_load

ROOT_DIR = path.dirname(__file__)

build_config = yaml_load(open(path.join(ROOT_DIR, 'SConsfile.yml')))


def init(env):
    build_config.pop('jslint')
    build_config['concat']['group_main_js']['items'][0].pop('value-in')
